.profile {
  max-width: 430px;
  margin: 80px auto;
  padding: 0 16px;
}

.profile__title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
  color: rgba(26, 27, 34, 1);
}

.profile__card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
}

.profile__label {
  font-size: 14px;
  color: #b6bcbf;
  margin: 0;
}

.profile__value {
  font-size: 18px;
  margin: 4px 0 24px;
  color: rgba(26, 27, 34, 1);
}

.profile__logout {
  background: none;
  border: none;
  padding: 0;

  font-size: 18px;
  color: #2f71e5;
  cursor: pointer;
}
