.saved-news {
  width: 100%;
  background-color: rgba(245, 246, 247, 1);
  padding-bottom: 80px;
}

.saved-news__header {
  background-color: rgba(255, 255, 255, 1);
  padding: 40px 104px 56px;
}

.saved-news__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  opacity: 0.5;
  margin: 0;
}

.saved-news__title {
  margin: 28px 0 16px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  color: #1a1b22;
  max-width: 530px;
}

.saved-news__keywords {
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}

.saved-news__empty {
  padding: 40px 104px;
  font-size: 18px;
}

.saved-news .news-card-list {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .saved-news__header {
    padding: 16px;
  }

  .saved-news__title {
    font-size: 24px;
    line-height: 28px;
  }
}
