.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 200px;
}

/* EXACT spinner from instructions */
.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

.preloader__text {
  margin-top: 24px;
  font-size: 18px;
  color: #b6bcbf;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .preloader {
    min-height: 160px;
  }

  .preloader__text {
    font-size: 16px;
  }
}
