.footer {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.footer__text {
  font-size: 14px;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
