.news-card-list {
  padding: 0 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.news-card-list__container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .news-card-list__container {
    grid-template-columns: repeat(3, 224px);
    gap: 8px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .news-card-list__container {
    grid-template-columns: 1fr;
    gap: 0 16px;
  }
}
