.news-card {
  width: 400px;
  height: 576px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.news-card-list__container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style: none;
}
.news-card__image {
  width: 100%;
  height: 272px;
  opacity: 1;
  object-fit: cover;
  object-position: center;
  display: block;
}

.news-card__content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.news-card__title {
  font-size: 20px;
  line-height: 24px;
  margin: 8px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  -webkit-line-clamp: 2;
}

.news-card__text {
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0;
  overflow: hidden;
  -webkit-box-orient: vertical;

  display: -webkit-box;
  -webkit-line-clamp: 4;
}
.news-card__image-container {
  position: relative;
}

/* Save button */
.news-card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;

  background: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
}

.news-card__save-button_active {
  background: rgba(255, 255, 255, 1);
}

.news-card__save-button img {
  width: 14px;
  height: 19px;
  transition: filter 0.2s ease;
}

/* Active = blue icon only */
.news-card__save-button_active img {
  opacity: 1;
}

/* Tooltip */
.news-card__tooltip {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #ffffff;
  color: #000;

  font-size: 12px;
  line-height: 14px;
  padding: 6px 8px;
  border-radius: 4px;

  white-space: nowrap;
  display: none;
  z-index: 5;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.news-card__tooltip:empty {
  display: none;
}

.news-card__save-button:hover .news-card__tooltip:not(:empty) {
  display: block;
}

.news-card__source {
  margin-top: auto;
}

.news-card__date {
  width: 149px;
  height: 24px;

  margin: 0 0 8px;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0;
  color: #b6bcbf;

  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .news-card {
    width: 224px;
    height: 420px;
    display: flex;
    flex-direction: column;
  }

  .news-card__image {
    height: 160px;
    object-fit: cover;
  }

  .news-card__content {
    padding: 16px;
    flex: 1;
  }

  .news-card__date {
    font-size: 12px;
    line-height: 16px;
    width: auto;
    height: auto;
  }

  .news-card__title {
    font-size: 16px;
    line-height: 20px;
  }

  .news-card__text {
    font-size: 14px;
    line-height: 18px;
  }

  .news-card__source {
    font-size: 12px;
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) {
  .news-card {
    width: 100%;
    height: auto;
  }

  .news-card__image {
    height: 196px;
  }

  .news-card__title {
    font-size: 18px;
    line-height: 22px;
  }

  .news-card__text {
    font-size: 16px;
  }
}
