@import "./vendor/fonts/fonts.css";

/* GLOBAL BASELINE */
html,
body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Roboto", Arial, sans-serif;
}

#root,
.page {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
