/* FULL SCREEN OVERLAY */
.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* bottom half transparent */
  z-index: 1000;
}

/* TOP HALF DARK PANEL */
.mobile-menu__panel {
  width: 100%;

  background-color: #1a1b22;
  padding: 16px 16px 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* HEADER */
.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__logo {
  margin: 0;

  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;

  color: #ffffff;

  width: 117px;
  height: 24px;

  display: flex;
  align-items: center;
}

.mobile-menu__close {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

/* NAV CONTENT */
.mobile-menu__nav {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* HOME */
.mobile-menu__link {
  background: none;
  border: none;
  padding: 0;
  font-size: 18px;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

/* SIGN IN BUTTON */
.mobile-menu__button {
  height: 48px;
  max-width: 288px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
